/*
- Font sizes (px)
 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  line-height: 1;
  background-color: #0a192f;
  color: #8892b0;
  overflow-x: hidden;
}

.containerr {
  /* 1140px */
  max-width: 99rem;
  /* background-color: rgb(243, 227, 227); */
  /* border: #64ffda 2px solid; */
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  /* font-weight: 600; */
  padding: 1.6rem 4.2rem;
  border-radius: 6px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}
.btn-link:link,
.btn-link:visited {
  background-color: transparent;
  color: aquamarine;
  border: 1px solid #64ffda;
}

.btn-link:hover,
.btn-link:active {
  background-color: #64ffdb23;
  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  /* box-shadow: inset 0 0 0 3px #fff; */
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
