body {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  /* font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif; */
  line-height: 1;
  background-color: #0a192f;
  color: #8892b0;
}
.heading-1 {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda;
}


.btnn,
.btnn:link,
.btnn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  /* font-weight: 600; */
  padding: 1.6rem 4.2rem;
  border-radius: 6px;

  /* Only necessary for .btnn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btnn-link {
  background-color: transparent;
  color: aquamarine;
  border: 1px solid #64ffda;
}

.btnn-link:hover {
  background-color: #64ffdb23;
  color: aquamarine;
  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  /* box-shadow: inset 0 0 0 3px #fff; */
}
.form-control,.form-select:active{
  background-color: #0a192f;
  color: aliceblue;
}
.form-control:active,.form-select{
  background-color: #0a192f;
  color: aliceblue;
}